body {
  background: linear-gradient(rgba(4, 5, 86), rgba(122, 59, 163));
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}
.age{
    position: fixed;
    top:2vh;
    width: 100vw;   
    display: flex; 
    align-items: center;
    justify-content: center;
}
.cover {
  margin-top: 40%;
  width: 100vw;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: url(img/cover.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
  background-position: center;
}
.t {
  color: rgb(219, 181, 126);
  font-size: 2.5em;
  font-weight: 900;
  font-family: "Courier New", Courier, monospace;
  margin-top: 4em;
}
.wish {
    z-index: 2;
    display: none;
    position: relative;  
    margin: 5em;
    font-weight: 900;
    color: rgb(219, 181, 126);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.wish p {
  font-size: 3vw;
  text-align: center;
  margin: 3.5em o.5;
}

span{
    color: rgba(0, 0, 255, 0.575);
}